body {
  display: flex;
    flex-direction: column;
    line-height: 1.2;
    margin: 0;
    padding: 2px;
    max-width: 100%;
  }
  html, body {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    background-color:rgb(128, 79, 207);
    width: 100%;
  }
  
  .Secondary-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }
  
  h1 {
    font-size: 250%;
    color: whitesmoke;
    background-color: black;
    padding-left: 150px;
    padding-right: 10px;
    border-radius: 0 10px 10px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .figure-header {
   position: relative;
   width: 100%;
   height: 200px;
   background: url(./Assets/wwdc-2023-3840x2160_665459-mm-90.jpg) center/cover no-repeat;
  }
  
  .h2-text {
    color: #fff;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
  }
  nav ul {
    display: flex;
    justify-content: space-between;
    color: aliceblue ;
    padding-right: 20px;
    min-width: 500px;
    font-size: 180%;
  }

  ul li a {
    color: inherit;
    text-decoration: none;
  }

  ul li a:hover {
    text-decoration: underline;
  }

  /* main {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 0;
    max-width: 96%;
    margin: 2% auto;
    max-width: 1200px;
    flex: 1;
  } */

  main {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 2% auto;
  }
  
  /* section {
    flex:1;
    padding: 20px;
    position: absolute;
    left: 0;
    margin: 10px;
  } */

  section {
    background-color: aqua;
    flex: 1;
    padding-right: 15px;
  }

  article {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    font-size: 30px;

  }

  #about-me {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #about-me:after {
    background: rgb(9, 0, 75);
    height: 1180px;
    max-width: 2%;
    margin-left: 20px;
    flex: 1;
    content: '';
  }
  #about-me.left:after {
    background: none;
  }
  #about-me.right:before {
    background: none;
  }

  #work-1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #work-1:after {
    background: rgb(9, 0, 75);
    height: 1180px;
    max-width: 2%;
    margin-left: 20px;
    flex: 1;
    content: '';
  }

  #work-1.left:after {
    background: none;
  }

  #work-1.right:before {
    background: none;
  }

  footer {
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: rgb(128, 79, 207);
    color: #fff;
  }
  
  /* aside {
    width: 90%;
    display: flex;
    flex-direction: column;
    font-size: 30px;
  } */

  aside {
    width: 85%;
    display: flex;
    flex-direction: column;
    font-size: 30px;
  }
  
  body {
    display: flex;
  }

  figure {
    display: flex;
    background-color: blueviolet;
    padding: 30%;
    font-family: fantasy;
    font-size: 50px;
    
  }

  .big-figure {
    font-family: fantasy;
    font-size: 55px;
    display: flex;
    margin: 5px;
    position: relative;
    justify-content: space-around;
    background: url(./Assets/414681890_1051437662806194_1389533687325180132_n.png) center/cover no-repeat;
  }

  .big-figure::before {
    border-radius: 5px;
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    background-color: black;
    z-index: -1;
  }

  .big-figure nav {
    position: absolute;
    bottom: 20px;
    left: 0;
    padding: 0px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(0, 0, 0);
    color: #fff
  }

  aside img {
    margin-top: 100px;
    padding: 5px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    max-width: 1000px;
    max-height: 1000px;
    object-fit: contain;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    height: auto;
  }

  aside p {
    text-align: justify;
    font-size: 30px;
    line-height: 170%;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    
  }

  div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  figure.general-class {
    position: relative;
    border: 5px solid black;
    border-radius: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 5px;
    width: 500px;
    height: 300px;
    box-sizing: border-box;
    }

    /*because the images are used as background for the containers, and im not using JavaScript; i was forced to use this to link the images to my URLS*/
    aside figure.big-figure a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      text-decoration: none;
    }

    aside figure.big-figure a:hover {
      background-color: rgba(0, 0, 255, 0.5);
    }

    #img-1 {
      width: 500px; 
      height: 300px; 
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url(./Assets/Prework\ Study\ Guide.png);
    }

    #img-2 {
      width: 500px; 
      height: 300px; 
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url(./Assets/example\ image.jpg);
    }

    #img-3 {
      width: 500px; 
      height: 300px; 
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url(./Assets/example\ image.jpg);
    }

    #img-4 {
      width: 500px; 
      height: 300px; 
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url(./Assets/example\ image.jpg);
    }

    .general-class p.text-overlay {
      position: absolute;
      bottom: 20px;
      left: 0;
      padding: 0px;
      padding-left: 15px;
      padding-right: 15px;
      background-color: rgb(0, 0, 0);
      color: #fff
    }

    .top-of-footer {
      flex: auto;
    }

    .footer-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-top: auto;
    }

    .top-of-footer a {
      color: inherit;
      text-decoration: none;
    }

    .top-of-footer a:hover {
      text-decoration: underline;
      color: silver;
    }

    /*because the images are used as background for the containers, and im not using JavaScript; i was forced to use this to link the images to my URLS*/
    div figure a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      text-decoration: none;
    }

    div figure a:hover {
      background-color: rgba(0, 0, 255, 0.5);
    }
